@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #0052cc;
  --color-brand-hover: #0065ff;

  --color-background-light: #ffffff;
  --color-text-light: #172b4d;
  --color-border-light: #dfe1e6;
  --color-brand-hover-light: #0065ff;
  --color-surface-light: #f4f5f7;

  --color-brand-hover-dark: #2684ff;
  --color-surface-dark: #111214;
  --color-background-dark: #000000;
  --color-text-dark: #f4f5f7;
  --color-border-dark: #2b2d31;

  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-button: 0 2px 6px rgba(0, 0, 0, 0.1);

  --font-sans: "Inter", "Segoe UI", system-ui, sans-serif;
}

body {
  @apply bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark font-sans;
}

@layer base {
  input,
  select,
  button {
    @apply focus:outline-blue-500 dark:focus:outline-black dark:focus:border-white;
  }
}

@layer components {
  .button-primary {
    @apply px-4 py-2 rounded-xl font-medium transition-colors cursor-pointer bg-brand text-text-dark  shadow-button hover:bg-brand-hover-light;
  }
  .button-secondary {
    @apply px-4 py-2 rounded-xl font-medium transition-colors cursor-pointer bg-surface-light text-text-dark border border-gray-300 hover:bg-gray-50;
  }
  .button-outline {
    @apply px-4 py-2 rounded-xl font-medium transition-colors cursor-pointer border border-brand text-brand hover:bg-brand/10;
  }
  .input {
    @apply p-2 rounded border  border-border-light dark:border-border-dark;
  }
}
